<%- include("partials/header") -%>

<h1><%=pageTitle%></h1>
<p><%=pageParagraph%></p>

<% for(let post of posts){ %>
<h1><%= post.title %></h1>
<p><%= post.content.substring(0, 100)+'...' %> <a href="/posts/<%= post._id %>">Read More &rarr;</a></p>
<% } %>

<%- include("partials/footer") -%>
